@use "base" as b;
.celebs {
 background-color: b.$color-secondary;
 grid-column: col-start 7 / full-end;
 padding: 3rem;
 display: grid;
 row-gap: 2rem;
 align-content: center;
 justify-items: center;
 justify-items: center;
 @media only screen and (max-width: b.$media-lap) {
  padding: 1rem;
 }

 &__list {
  display: grid;
  grid-template-columns: min-content max-content;
  gap: 2rem;
  row-gap: 5vh;
  align-items: center;
 }
 &__img {
  border-radius: 50%;
  width: 8rem;
  display: block;
  @media only screen and (max-width: b.$media-lap) {
   width: 10rem;
  }
 }
 &__host {
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  color: b.$color-grey-l-2;
  margin-top: -3px;
 }
}
