@use "base" as b;
.features {
 grid-column: center-start/center-end;
 margin: 15rem 0;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); //responsive grid
 grid-gap: 5rem;
 align-items: start;
 @media only screen and (max-width: b.$media-lap) {
  margin: 5rem 0;
  gap: 3rem;
 }
}
.feature {
 display: grid;
 grid-template-columns: min-content 1fr;
 grid-row-gap: 1rem;
 grid-column-gap: 2rem;
 &__icon {
  fill: b.$color-primary;
  width: 5rem;
  height: 5rem;
  grid-row: 1 / span 2;
 }
 &__text {
  font-size: 1.4rem;
 }
}
