@use "base" as b;
.header {
 background-color: b.$color-grey-d-1;
 grid-column: full-start/col-end 6;
 background-size: cover;
 background-position: center;
 padding: 8rem;
 padding-top: 4rem;
 display: grid;
 justify-content: center;
 grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
 grid-template-columns: minmax(min-content, max-content);
 row-gap: 1.5rem;
 background-image: linear-gradient(rgba(b.$color-secondary, 0.8), rgba(b.$color-secondary, 0.67)), url(../img/hero.jpeg);
 @media only screen and (max-width: b.$media-lap) {
  padding: 3rem;
 }
 &__logo {
  justify-self: center;
  @media only screen and (max-width: b.$media-lap) {
   padding: 1rem;
   height: 10rem;
  }
 }
 &__btn {
  align-self: flex-start;
  font-size: 3rem;
  justify-self: start;
 }
 &__see-text {
  font-size: 1.5rem;
  font-weight: 800;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  align-items: center;
  color: b.$color-grey-l-2;
  &::before,
  &::after {
   content: "";
   height: 1px;
   display: block;
   background-color: currentColor;
  }
 }
 &__see-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  justify-items: center;
  align-items: center;
  img {
   max-height: 3rem;
   max-width: 100%;
   filter: brightness(70%);
  }
 }
}
